@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: productsans;
}

.heading{
    font-family: productsans-bold;
}

.content{
    font-family: productsans-light;
}

.footer a{
    font-family: productsans-light;
}

.footer a:hover{
    font-family: productsans;
    color: rgb(142, 142, 142);
}

.nav a:hover, .nav a.active {
    /* border-bottom: 2px solid white; */
    /* background-color: grey; */
    color: rgb(142, 142, 142);
}

.ipt{
    padding: 5px;
    border: 1px solid #CCCCCC;
    margin-bottom: 15px;
    width: 100%;
}

.ipt2{
    padding: 5px;
    border: 1px solid #CCCCCC;
    margin-bottom: 15px;
    width: 500px;
    /* width: 35%; */
}
